/* src/components/Footer.module.css */
.footer {
  background-color: #ffe0f0; /* Rosa pastel vibrante */
  color: #6a1b9a; /* Púrpura oscuro para un contraste atractivo */
  text-align: center;
  padding: 30px;
  font-family: 'Verdana', sans-serif; /* Fuente más contemporánea */
  position: relative; /* Para posicionamiento */
  bottom: 0;
  width: 100%;
  border-top: 4px solid #d5006d; /* Línea superior para un detalle elegante */
}

.footer p {
  margin: 8px 0; /* Espaciado entre párrafos */
  font-size: 18px; /* Tamaño de fuente más grande para destacar */
}

.footer a {
  color: #d5006d; /* Rosa vibrante para enlaces */
  text-decoration: none; /* Sin subrayado */
  font-weight: bold; /* Negrita para destacar enlaces */
}

.footer a:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse */
  color: #ab003c; /* Rosa más oscuro al pasar el mouse */
}
